.Header {
  padding: 20px;
  padding-right: 50px;
  background-color: black;
  height: 70px;
  position: fixed;
  z-index: 10;
  width: 105%;
  font-size: 1.5rem;
  color: white;
}
.ram {
  list-style: none;
  text-decoration: none;
  color: azure;
}
