.Itom1 {
  height: 160px;
  align-self: stretch;
}
img {
  width: 100%;
}
.Itom2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
}

.Itom2 svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.Itom2 p {
  /* Heading/Med */
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  color: white;
  font-weight: 500;

  letter-spacing: 0.5px;
}
