.App {
  text-align: center;
  width: 1322px;
  height: 696px;
  background-color: #03123d;
  box-sizing: border-box;
}
* {
  padding: 0px;
  margin: 0px;
}
.content {
  display: flex;
  justify-content: space-between;
}
